<app-product-card
  [productName]="ProductName"
  [author]="author"
  [company]="company"
  [isShow]="isShow"
  [photoUrl]="photoUrl"
>
</app-product-card>
<app-product-card
  [productName]="ProductName"
  [author]="author"
  [company]="company"
  [isShow]="isShow"
  [photoUrl]="photoUrl"
>
</app-product-card>
<app-product-card
  [productName]="ProductName"
  [author]="author"
  [company]="company"
  [isShow]="isShow"
  [photoUrl]="photoUrl"
>
</app-product-card>
<app-product-card
  [productName]="ProductName"
  [author]="author"
  [company]="company"
  [isShow]="isShow"
  [photoUrl]="photoUrl"
>
</app-product-card>
<app-product-card
  [productName]="ProductName"
  [author]="author"
  [company]="company"
  [isShow]="isShow"
  [photoUrl]="photoUrl"
>
</app-product-card>
