:host {
  display: block;
  text-align: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;

  button {
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
    color: #005cbb;
    border: 1px solid #005cbb;

    &.active {
      color: white;
      background-color: #005cbb;
    }
  }
}
