:host {
  display: block;
  padding: 20px;

  .toolbar {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
  }

  button {
    padding: 5px 10px;
    border: solid 1px #007bff;
    color: #007bff;
    background-color: white;
    cursor: pointer;
  }

  input[type="text"] {
    margin-right: 10px;
    padding: 5px;
    width: 300px;
    height: 30px;
    font-size: 20px;
    border: solid 1px #0e0e0f;
  }
}
