:host {
  display: block;

  a {
    padding: 10px 20px;
    display: inline-block;
    border-radius: 20px;
    color: #005ccb;
    cursor: pointer;
    text-decoration: none;

    &:hover,
    &:active,
    &:force {
      text-decoration: none;
    }

    &:hover {
      background-color: #005ccb33;
    }

    &.active {
      background-color: #005ccb1a;
    }
  }
}
