<div class="c">
  <div class="container" [formGroup]="form">
    <h2>基本資料</h2>
    <div class="form-item">
      <div class="form-column">
        <label>姓名</label>
        <input type="text" formControlName="name" />
      </div>
      @if (name.hasError('required')) {
      <div class="error-message">請輸入姓名</div>
      }
    </div>
    <div class="form-item">
      <div class="form-column">
        <label>地址</label>
        <input type="text" formControlName="company" />
      </div>
      @if (company.hasError('required')) {
      <div class="error-message">請輸入地址</div>
      }
    </div>
    <div class="form-item">
      <div class="form-column">
        <label>電話</label>
        <input type="text" formControlName="price" />
      </div>
      @if (price.hasError('required')) {

      <div class="error-message">請輸入電話</div>
      }
    </div>
  </div>
</div>
<div class="form-action">
  <button type="button" class="save" [disabled]="form.invalid">送出訂單</button>
</div>
